
@{
    ViewBag.Title = "EmployeeForm1";
}

<h2>EmployeeForm1</h2>
<table>
    <tr>
        <td>Name:</td>
        <td><input type="text" id="txtname" /></td>
        <td>Roll:</td>
        <td><input type="text" id="txtroll" /></td>


    </tr>
</table>

